# Demo de Pandas

In [4]:
import numpy as np
import pandas as pd

## Exemple de Dataframe

In [5]:
ar = np.array([['Marie','POO'],['Herve','SQL'],['Denis','HTML']])
df = pd.DataFrame(ar,index=['lundi','mardi','mercredi'],columns=['Formateur','Cours'])
print(df)

         Formateur Cours
lundi        Marie   POO
mardi        Herve   SQL
mercredi     Denis  HTML

## Exemple d'import de données depuis un fichier CSV

In [7]:
url="https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
iris=pd.read_csv(url)
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Exemple de manipulation de donnée

### Projection (sous-ensemble de colonnes, SELECT)

In [8]:
sous_ensemble_iris = [['sepal.length','variety']]
sous_ensemble_iris

[['sepal.length', 'variety']]

### Selection des données selon conditions (WHERE)

In [1]:
# Filtrer les Setosa avec petal.length < 1.3
setosa_petite_taille = iris[(iris['variety'] == 'Setosa') & (iris['petal.length'] < 1.3)]

NameError: name 'iris' is not defined

### Group by / faire des calculs pour des sous-ensemble de données

In [9]:
iris.groupby('variety').size()

variety
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

### Moyenne

In [2]:
# Calculer la moyenne de la longueur des pétales par variété
moyennes = iris.groupby('variety')['petal length (cm)'].mean()

NameError: name 'iris' is not defined